@charset "utf-8";

/* Just read a tip to organize CSS-properties alphabetically. Sounds like a good idea! I usually just try to somehow order them by order of significance to the design (like width and height first and grouped together), but this seems better. Except that width and height is separate-
*/

* {
	border: 0px;
	margin: 0px;
	outline: 0px;
	padding: 0px;}

body {
	background-color: #d9ffa7;
	height: 100%;
	width: 100%;
	padding: 10 15 10 15}

p {
	clear: left;
	padding: 10px 0px 0px 20px;}

/* This eliminates the annoying white space that is otherwise inserted after the image in the header: */

#con {
	height: 100%;
	width: 100%;}

