{% extends "form_item_base.html" %}

{% block title %}Tilføj {{catName}}{% endblock %}

{% block nav3 %}class="active"{% endblock %}

{% block content %}

<h1>Tilføj {{catName}}</h1>

{% comment %}{% get_verbose_name Product %}{% endcomment %}

Hvad ønsker du at tilføje?:<br/>
<a class="btn" href="/tilfoej/product/">Produkt</a>
<a class="btn" href="/tilfoej/brand/">Mærke</a>
<a class="btn" href="/tilfoej/manufacturer/">Producent</a>
<a class="btn" href="/tilfoej/store/">Forretning</a>
<a class="btn" href="/tilfoej/ingredient/">Ingrediens</a>

<!-- 
Hvad ønsker du at tilføje?:    <select class="types" name="type">
    <option value="product">Produkt</option>
    <option value="brand">Mærke</option>
    <option value="manufacturer">Producent</option>
    <option value="product">Ingrediens</option>
<p>URL of this page: {{ request.path }}</p>-->

<form action="{{ request.path }}" method="post" > {% csrf_token %}
    {{ formset }}
    <input class="btn" id="submitClear" type="submit" value="Tilføj" />
</form>

{% endblock %}
