{% extends "form_item_base.html" %}

{% block title %}Links{% endblock %}

{% block nav5 %}class="active"{% endblock %}

{% block content %}
<div id="links">
<h1>Links</h1>

<h2>Produkter:</h2>
<a href="http://vegansociety.co.uk" target="_blank">Vegan Society</a>
<a href="http://food4me.dk" target="_blank">Food4Me</a>

<h2>Dyreretsorganisationer:</h2>
<a href="http://www.govegan.dk" target="_blank">Go Vegan</a>
<a href="http://dyrenesalliance.dk" target="_blank">Dyrenes Alliance</a>
<a href="http://anima.dk" target="_blank">Anima</a>

<h2>Webshops:</h2>
<a href="http://veganic.dk" target="_blank">Veganic</a>
<a href="http://www.veganwonderland.de" target="_blank">Vegan Wonderland</a>
</div>
{% endblock %}
