{% extends "base.html" %}
{% load comments %}

{% load thumbnail %}

{% block title %}Produkter{% endblock %}

{% block head %}<link href="{{ STATIC_URL }}css/products.css" rel="stylesheet" type="text/css" />{% endblock %}

{% block pageName %}{{ product.name }}{% endblock %}


{% block content %}

<h1>Produkt: {{product.name }}</h1>

<div id="left">
    <p><span class="type">Mærke:</span> {{ product.brands }}</p>
    <p><span class="type">Producent:</span> {{ product.manufacturers }}</p>
    <p><span class="type">Er produktet vegansk:</span> {{ product.get_vegan_display }}</p>
    <p class="list"><span class="type">Fås i:</span></p>
      <ul> 
        {% for store in product.stores.all %}
        <li>{{ store }}, </li>
        {% endfor %}
      </ul>

    <p class="list"><span class="type">
    Ingredienser:</span></p>
    <ul> 
        {% for ing in product.ingredients.all %}
        <li>{{ ing }}, </li>
        {% endfor %}
    </ul>

    <p><span class="type">Gluten:</span> {{ product.gluten }}</p>
    <p><span class="type">Soja:</span> {{ product.soy }}</p>
    <p><span class="type">Økologisk:</span> {{ product.bio }}</p>
    <p><span class="type">Fair Trade:</span> {{ product.fair_trade }}</p>
</div>



<div id="right">
    <p><span class="type">Billede:</span></p> 
    {% if product.picture %} 
        <a href="{{ product.picture.url }}"/><img class ="picture" src="{% thumbnail product.picture 250x250 %}"/></a></div>
    <!--    <img src="{{ product.picture.url }}"></img> -->
    {% else %}
        <p>Billede mangler.</p>
    {% endif %}

    <a href="rediger">Rediger</a>
</div>

{% endblock %}


{% block content2 %}

<div class="span12">
{% render_comment_list for product %}
{% render_comment_form for product %}

{% endblock %}
