@charset "utf-8";

/* Just read a tip to organize CSS-properties alphabetically. Sounds like a good idea! I usually just try to somehow order them by order of significance to the design (like width and height first and grouped together), but this seems better. Except that width and height is separate-
*/


* {
	margin: 0px;
	outline: 0px;
	padding: 0px;
}


body {
	/* background-color: #d9ffa7; */
}

a:hover {
	color: gray;
}

a, a:link {
	font-size: 20px;
}

aside {
    float: left;
    width: 25%;
}

footer {
    clear: both;
}

header {
    background-color: rgb(0,0,0);
    color: #fff;
    text-align: center;
}

h1 {
    padding: 10px 0 7px 0;
}

p {
	clear: left;
    padding: 20px 0 20px 0;
    max-width: 500px;
}

#container {
	height: 100%;
	width: 100%;
}

#content {
	clear: both;
    padding: 20px;
}

#mainC {
    float: left;
    width: 75%;
}

.bold {
    font-weight: bold;
}

.current_page {
	color: rgb(126,126,126);
    font-size: 125%;
}

.green {
	color: rgb(126,176,62)
}

/* Navigation bar: */

#navSearch {
    background-color: #222;
	border-radius: 0px 0px 26px 26px;
	-moz-border-radius: 0px 0px 26px 26px;
    height: 30px;
    padding: 0 15px 0 15px;
}

nav {
    float: left;
	font-size: 25 px;
	font-weight: bold;
    width: 75%;
}

	nav a {
		color: #fff;
		font-size: 25 px;
		text-decoration: none;
    }
    
    nav a:hover {
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 0px  30px rgba(255, 255, 255, 0.125);
        -moz-transition-property: all;
        -moz-       transition-duration: 0.2s;
        -moz-transition-timing-function: linear;
        -moz-transition-delay: 0s;
    }

	nav p {
		font-size: 25 px;}
   
    nav ul {
        margin: 0px;
        padding: 0px;}

	nav li {
        margin: 0px;
        padding: 0px;
		list-style-type: none;
		display: inline;
		padding: 0px 15px 0px 0px;}

#search_box {
	margin-top: 5px;
    float: right;
}


/* Coloring products when linking to them */
a.vegan { color: rgb(126,176,62); }
a.potvegan { color: #ccc; }
a.notvegan { color: #c00; }
