@charset "utf-8";

#content {
    border: 3px solid #000;
}

#content ul {
	padding: 0 0 0 0;
	margin: 0;
	display: inline;
	list-style-type: none;
	}

#content li {
	margin: 0px;
	padding: 0px;
	display: inline;
	width: 25px;
}

#content p {
	padding: 0px;
	border: 0px;}

#left {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
	float: left;
	width: 50%;
}

#right {
	float: left;
	width: 50%;
}

.type {
    font-weight: bold;
    color: #000; 
}

.list {
    display: inline;
}
