{% extends "base.html" %}

{% block title %}Produkter{% endblock %}

{% block head %}<link href="{{ STATIC_URL }}css/products.css" rel="stylesheet" type="text/css" />{% endblock %}

<h1>Vegansk.dk: Produkter</h1>

{% block content %}
<p>Produktnavn: {{ product.name }}</p>
<p>Mærke: {{ product.brands }}</p>
<p>Producent: {{ product.manufacturers }}</p>
<p>Er produktet vegansk: {{ product.vegan }}</p>
<p>Billede:</p> 
{% if product.picture %} 
    <img src="{{ product.picture }}"></img>
{% else %}
    <p>Billede mangler.</p>
{% endif %}
<p>
  Fås i:
  <ul> 
    {% for store in product.stores.all %}
    <li>{{ store }}</li>
    {% endfor %}
  </ul>
</p>

<p>
  Ingredienser:
  <ul> 
    {% for ing in product.ingredients.all %}
    <li>{{ ing }}</li>
    {% endfor %}
  </ul>
</p>

<p>Gluten: {{ product.gluten }}</p>
<p>Soja: {{ product.soy }}</p>
<p>Økologisk: {{ product.bio }}</p>
<p>Fair Trade: {{ product.fair_trade }}</p>

{% endblock %}
